.titulo-aplicativo{
    text-align: center;

    .toolbar-background-md{
        background: #404042;
    }
    .toolbar-title-md{
        color: #ffffff;
    }
}

ion-app.md [padding] .scroll-content {
    padding: 0px;
}

.ion-page ion-slides {
    height: 25%;
}

.ion-page .tabbar{
    height: 7%;
}

.ion-page ion-title{
    width: 100%;
}

.bar-buttons.bar-buttons-md{
    order: 1;
}

.ion-page .contact.bar-buttons.bar-buttons-md{
    order: 1;
}
.ion-page .search.bar-buttons.bar-buttons-md{
    order: 4;
}

.ion-page .bar-button-md[icon-only] ion-icon{
    color: #d8d3d3
}

.ion-page .fab-md-dark{
    background-color: rgba(60, 60, 60, 0.7);
}

.ion-page .tabs-md .tab-button[aria-selected=false]{
    .tab-button-text{
        display: none;
    }
}

.ion-page .segment-md .segment-button {
    font-size: 11px;
    padding: 0px;
    color: #404042;
    line-height: 3rem;
}
.ion-page .segment-button .segment-activated{
    color: blue;
}
.ion-page .primeiro-slide{
    background-image: url("http://jotateles.com.br/images/minified/posts/alemdohtmlecss/htmlcssjavascriptgithub.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.resumo{
    padding: 0 16px;
    text-align: center;
    margin-top: 0px;
}

.container{
    width: 50%;
    margin: 12 auto;
  }
  @keyframes load{
    from {
      width: 12%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 12%
    }
  }
  @-moz-keyframes load{
    from {
      width: 12%
    }
  }
  @-o-keyframes load{
    from {
      width: 12%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #cdcace;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #968b8e;
  }
  .bar.back::before{
    background-color: #c1c1c1;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(55% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(90% - 10px);
  }
  .bar.medium::before{
    width: calc(40% - 10px);
  }
  