page-home {
    .titulo-aplicativo{
        text-align: center;

        .toolbar-background-md{
            background: #130000;
        }
        .toolbar-title-md{
            color: #fff2f2;
        }
    }
}
